{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance Tracker</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link 
      rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
      crossorigin="anonymous" 
      referrerpolicy="no-referrer" 
    />
    <style>
        body { font-family: 'Poppins', sans-serif; }
    </style>
</head>
<body>
    <div id="overlay" class="fixed inset-0 bg-gradient-to-t from-[hsl(0,0%,90%)] via-[hsl(0,0%,85%)] to-[hsl(0,0%,80%)] hidden items-center justify-center z-50">
        <form action="{% url 'add_reviews' %}" method="post" class="w-[90%] max-w-md flex flex-col bg-gradient-to-b from-[hsl(0,0%,5%)] to-[hsl(0,0%,10%)] items-center p-8 space-y-5 border border-[hsl(0,0%,30%)] border-b-[hsl(0,0%,50%)] rounded-lg">
            {% csrf_token %}
            <div class="container flex flex-col items-center space-y-5">
                <label for="" class="text-xl sm:text-2xl md:text-3xl font-bold leading-tight text-center">Add a review</label>
                <input type="text" name="" id="" class="text-lg bg-[hsl(0,0%,65%)] font-bold p-3 focus:outline-none focus:ring-2 focus:ring-[hsl(0,0%,80%)]">
            </div>
            <div class="w-full h-12 flex space-x-2">
                <button id="submit-btn" type="submit" class="w-[50%] bg-[hsl(0,0%,5%)] hover:bg-[hsl(232,74%,62%,0.3)] text-[hsl(232,100%,50%)] font-bold border border-[hsl(232,74%,62%)] px-6 py-2 rounded-lg">Submit</button>
                <button id="back-btn" type="button" class="w-[50%] bg-[hsl(0,0%,95%)] hover:bg-[hsl(0,0%,5%,0.3)] font-bold border border-[hsl(0,0%,5%)] px-6 py-2 rounded-lg">Back</button>
            </div>
        </form>
    </div>
</body>
</html>